body {
    background-color: rgb(254,252, 232);
    font-family: "Wittgenstein", serif;
    font-style: normal;
    font-size: 15px;
    padding: 0;
    margin: 0;
  }
  
  section {
    padding: 10px;
  }
  
  nav > header {
    text-align: center;
  }
  
  main > nav {
    background-color: rgb(254, 240, 138);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    width: 150px;
    position: absolute;
  }
  
  nav > h3 {
    text-align: center;
    margin-bottom: -10px; 
  }
  
  .nav-link {
    background-color: rgb(254,252, 232);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: rgb(0,0,0);
  }
  
  .nav-link:hover {
    color: rgb(255,3,3);
  }
  
  #Introduction, #How_to_recognize_the_attack {
    position: relative;
    right: -200px;
    max-width: 60%;
  }
  
  span {
    font-weight: bold;
    font-style: oblique;
  }
  
  @media (max-width: 582px) {
  
    #Introduction {
      padding-top: 30px;
    }
  
    #Introduction, #How_to_recognize_the_attack {
        position: relative;
        top: 530px;
        right: -4px;     
    }
  
    #How_to_react_to_the_attack, #First_moves, #Self_defense {
      position: relative;
      top: 530px;
      width: 70%;
    }
  
  }
  